.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(215, 192, 192);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    gap: 5px;
    padding: 20px;
}
.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.calculator>.form-group>button{
    width: 25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.calculator>.form-group>button:hover{
    background-color: rgb(198, 185, 185);
}
.calculator>.form-group>input{
    width: 100%;
    font-size: 40px;
    border: 1px solid rgb(226, 184, 184);
    text-align: end;
    outline: none;
     border-radius: 5px;
     padding-right: 10px;
}
.calculator>.form-group>.evaluate{
      color: aliceblue;
      background-color: rgba(50, 27, 125, 0.829);
        font-size: 30px;
}
.calculator>.form-group>.evaluate:hover{
    background-color: rgb(151, 110, 193);
  
}

/* For very small devices */
@media (max-width: 680px) {
  .calculator {
    width: 80%;
    padding: 15px;
  }

  .calculator>.form-group>button{
    padding: 10px;
    font-size: 16px;
  }

 .calculator>.form-group>input{
    font-size: 30px;
    padding: 5px;
    
  }
}

